<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <userSettings>
    <AlphaRooms.AutomationFramework.Tests.Properties.Settings>
      <setting name="SeleniumExecuteLocally" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">False</value>
      </setting>
      <setting name="SeleniumBrowser" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">chrome</value>
      </setting>
      <setting name="TestingEnvironment" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">Live</value>
      </setting>
      <setting name="AutomationFrameworkConnectionString" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">Data Source=ec2-54-229-207-216.eu-west-1.compute.amazonaws.com;Initial Catalog=SystemsManagement;Persist Security Info=True;User ID=alphaboss;Password=MonkeyBatmanGermanyHats;MultipleActiveResultSets=True</value>
      </setting>
      <setting name="SeleniumRemoteServerURL" serializeAs="String" xdt:Locator="Match(name)">
        <value xdt:Transform="Replace">http://10.0.1.105:4444/wd/hub</value>
      </setting>
    </AlphaRooms.AutomationFramework.Tests.Properties.Settings>
  </userSettings>
</configuration>